
DEBUG = False

# Sphere Engine API token and hostname endpoint
SE_API_TOKEN = '<token>'
SE_API_ENDPOINT = '9533eeca.compilers.sphere-engine.com'

# Slack bot user ID and token
BOT_ID = 'UXXXXXXXX'
API_TOKEN = "xoxb-XXXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXX"
# Optional
ERRORS_TO = "<username>"

PLUGINS = [
    'compilebot.plugins',
]

